<div class="nested-fields">
    <div class="field">
      <%= f.label :tel %>
      <%= f.text_field :tel, class: "fone-field" %>
      <%= link_to_remove_association('remover', f) %>
    </div>
</div>