<div class="dark-matter">
    <h1>Seja bem-vindo</h1>
    
    <ul>
        <%= link_to "Tipos", tipos_path, class: "button" %><br/><br/><br/>
        <%= link_to "Contatos", contatos_path, class: "button" %>    
    </ul>
</div>