<div class="dark-matter">
    <h1>Welcome Dear Visitor!</h1>
    <ul>
        <%= link_to "Tipos", tipos_path, class: "button" %><br/><br/><br/>
        <%= link_to "Contatos", contatos_path, class: "button" %>
    </ul>
    
    <div class="background-dark-metter">
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div>
    <h5 class="test"> My name is Rodrigues. I'm study RoR (Ruby on Rails), and this is my modest first project! </h5>
    </div>
</div>
